@font-face {
    font-family: 'terminal';
    src: url('@/assets/fonts/Lekton-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('@/assets/fonts/Silkscreen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.localrun-font {
    font-family: 'Silkscreen', cursive;
}

.terminal-font {
    font-family: 'terminal', monospace;
}